<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="${session.usuario != null}
        ? ~{layout :: layout(~{::title}, ~{::section})}
        : ~{layout-publico :: layout-publico(~{::title}, ~{::section})}">

<head>
    <title>Meu Carrinho</title>
</head>

<body>
<section>
    <div th:if="${carrinhoVazio}"
         style="text-align:center; padding:40px; font-size:18px; color:#777;">
        Seu carrinho está vazio  🛒
    </div>

    <div style="display: flex; justify-content: center; padding: 30px;">

        <div style="
        background: white;
        border: 1px solid #e0e0e0;
        border-radius: 12px;
        width: 800px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.08);
        overflow: hidden;
        font-family: Arial, sans-serif;
    ">

            <div th:if="${!carrinhoVazio}" style="height: 180px; background:#f8f9fa; display:flex; justify-content:center; align-items:center;">
                <img src="/images/download.png" alt="Meu Carrinho" style="max-height:100%;">
            </div>

            <div th:if="${!carrinhoVazio}"
                 style="padding: 20px;">

                <h3>Meu Carrinho</h3>

                <table
                        style="width:100%; border-collapse: collapse;">
                    <thead>
                    <tr style="background:#f8f9fa;">
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>

                    <tbody>

                    <!-- LOOP REAL -->
                    <tr th:each="item : ${carrinho.itens}">
                        <td th:text="${item.produto.nome}">Produto</td>
                        <td>R$ <span th:text="${item.produto.preco}">0.00</span></td>
                        <td style="text-align:center;">
                            <a th:href="@{'/carrinho_diminuir/' + ${item.produto.codigo}}"
                               class="btn btn-outline-warning btn-sm btn-no-hover"
                               style="border: none; text-decoration: none;color:#dc3545">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor" class="bi bi-dash-circle-fill"
                                     viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1z"/>
                                </svg>
                            </a>

                            <span th:text="${item.qtde}">1</span>


                            <a th:href="@{'/carrinho_adicionar/' + ${item.produto.codigo}}"
                                class="btn btn-outline-warning btn-sm btn-no-hover"
                                style="border: none; text-decoration: none;color:#2DD158">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor" class="bi bi-plus-circle-fill"
                                     viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                </svg>
                            </a>

                        </td>

                        <td>R$ <span th:text="${item.subTotal}">0.00</span></td>

                        <td>
                            <a th:href="@{'/carrinho_remover/' + ${item.produto.codigo}}"
                               class="btn btn-outline-warning btn-sm btn-no-hover"
                               style="border: none; text-decoration: none;color:#dc3545">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                     fill="currentColor" class="bi bi-trash-fill"
                                     viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>


                    </tbody>
                </table>
                <div style="margin-top:20px; font-size:18px; font-weight:bold; text-align:right;">
                    Total: R$
                    <span th:text="${carrinho.total}">0.00</span>
                </div>
                <div style="margin-top:20px; text-align:right;">
                    <a href="/carrinho-finalizar"
                       style="background:#28a745; color:white; padding:12px 25px; border-radius:8px;">
                        Finalizar Pedido
                    </a>
                </div>

            </div>
        </div>
    </div>

</section>
</body>
</html>
